# Xcode
xcuserdata/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (not used, just in case)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Xcode build artifacts
*.o
*.d
*.LinkFileList
*.hmap
